* {
  margin: 0px;
  padding: 0px;
  color: white;
}

body {
  background-image: url("bleu.jpg");
  background-size: cover;

}

header {
  border: solid 2px white;
  background-color: Darkblue;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px
}
