body{
  background-color: #f5f5dc;
  color: #A0522D;
}

h1{
  border-radius: 100px;
  padding: 5px;
  font-family: georgia;
  border: 5px double blue;
  text-align: center;
}

table, td{
  border-radius: 10px;
  padding: 3px;
  font-family: georgia;
  border: 2px solid blue;
}

h2{
  border-radius: 100px;
  padding: 5px;
  font-family: georgia;
  border: 3px groove blue;  text-align: center;
}

.middle{
  text-align: center;
}

.super_secret{
  color: #f5f5dc;
}

.b_red{
  border: 5px groove red
}

.b_blue{
  border: 5px groove blue;
}

iframe{
  display: block;
  margin: 0 auto;
}

img{
  display: block;
  margin: 0 auto;
  border: 5px solid black
}

p{
  border: 1px solid blue;
  border-radius: 10px;
  padding-left: 3px
}

a:hover{
  color: #66CCFF;
}

iframe:hover{
  border: 5px groove lightgreen;
}
